<input class='input' (keypress)="0" type="number" min="0" max="9" />

<P class="phrase">bienvenue sur {{title}} je m'appel {{nom}} {{prenom}} j'ai {{age}} ans j'adore jouer a des jeux de {{fps}} du
  genre {{genre}}</P>

<!-- foreach -->

<!-- <p ngfor="let apprenant of apprenantList">
  id:{{apprenant.id}}, nom :{{apprenantList.nom}}
</p> -->

<p>id : {{apprenantList[0].id}}, nom : {{apprenantList[0].nom}}, prenom : {{apprenantList[0].prenom}}, age :
  {{apprenantList[0].age}},</p>
<p>id : {{apprenantList[1].id}}, nom : {{apprenantList[1].nom}}, prenom : {{apprenantList[1].prenom}}, age :
  {{apprenantList[1].age}},</p>
<p>id : {{apprenantList[2].id}}, nom : {{apprenantList[2].nom}}, prenom : {{apprenantList[2].prenom}}, age :
  {{apprenantList[2].age}},</p>
<p>id : {{apprenantList[3].id}}, nom : {{apprenantList[3].nom}}, prenom : {{apprenantList[3].prenom}}, age :
  {{apprenantList[3].age}},</p>
<p>id : {{apprenantList[4].id}}, nom : {{apprenantList[4].nom}}, prenom : {{apprenantList[4].prenom}}, age :
  {{apprenantList[4].age}},</p>
<p>id : {{apprenantList[5].id}}, nom : {{apprenantList[5].nom}}, prenom : {{apprenantList[5].prenom}}, age :
  {{apprenantList[5].age}},</p>
<p>id : {{apprenantList[6].id}}, nom : {{apprenantList[6].nom}}, prenom : {{apprenantList[6].prenom}}, age :
  {{apprenantList[6].age}},</p>
<p>id : {{apprenantList[7].id}}, nom : {{apprenantList[7].nom}}, prenom : {{apprenantList[7].prenom}}, age :
  {{apprenantList[7].age}},</p>
<p>id : {{apprenantList[8].id}}, nom : {{apprenantList[8].nom}}, prenom : {{apprenantList[8].prenom}}, age :
  {{apprenantList[7].age}},</p>